#Домашнее задание 2

##Задание 2.1

Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
Считать данные с помощью pandas
Вывести на экран первые 5 строк
Посмотреть на описание признаков и на их содержание

In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('./kc_house_data.csv', sep = ',', header = 1)

In [39]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 3596 entries, (7663700610, '20150310T000000', 477500.0, 4, 1.75, 1860, 9364, 1.0, 0, 0, 3, 7, 1080, 780, 1953, 0) to (1523300157, '20141015T000000', 325000.0, 2, 0.75, 1020, 1076, 2.0, 0, 0, 3, 7, 1020, 0, 2008, 0)
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   ,0,0,3,7,3040,0,1999,0,98030"  3596 non-null   int64
 1   47.3817                        3596 non-null   float64
 2   -122.206                       3596 non-null   float64
 3   2670                           3596 non-null   int64
 4   6259                           3596 non-null   int64
dtypes: float64(2), int64(3)
memory usage: 505.8+ KB

##Задание 2.2

Проведите первичный анализ данных
Изучите типы данных
Найдите количество пропущенных ячеек в данных
Посчитайте основные статистики по всем признакам и поизучайте их
Пишите выводы

In [15]:
df.describe()

,",0,0,3,7,3040,0,1999,0,98030""",47.3817,-122.206,2670,6259
count,3596.000000,3596.000000,3596.000000,3596.000000,3596.000000
mean,98077.233871,47.559205,-122.207633,2053.912959,10222.982202
std,50.288393,0.133022,0.149041,740.412322,26985.734431
min,98001.000000,47.185300,-122.491000,670.000000,651.000000
25%,98033.000000,47.487750,-122.335000,1480.000000,3800.000000
50%,98065.000000,47.565950,-122.226500,1890.000000,5772.000000
75%,98116.000000,47.671800,-122.111000,2500.000000,8640.000000
max,98199.000000,47.777200,-121.364000,6210.000000,858132.000000

Первичный анализ данных сделан в предыдущем задании, пропущенных ячеек нет. Трудновато написать выводы, не очень понятно о чем речь

## Задание 2.3.

Ответьте на несколько вопросов
3.1 В каком диапазоне изменяются стоимости недвижимости?
3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3.3 Как много домов с разными этажами в данных?
3.4 Насколько хорошее состояния у домов в данных?
3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [25]:
pd.set_option('display.max_columns', None)

In [24]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456

###3.1

In [42]:
df['477500'].min()

83000.0

In [43]:
df['477500'].max()

3800000.0

###3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [45]:
df['1.75'].mean()

2.3806675938803896

###3.3 Как много домов с разными этажами в данных?

In [46]:
df['7'].value_counts()

8     1276
7     1133
9      630
10     261
6      174
11      88
5       14
12      13
4        4
13       1
1        1
Name: 7, dtype: int64

###3.4 Насколько хорошее состояния у домов в данных?

In [47]:
df['3'].value_counts()

3    2942
4     478
5     157
2      14
1       4
Name: 3, dtype: int64

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [50]:
df['1953'].min()

1900

In [51]:
df['1953'].max()

2015

## Задание 2.4

4.1 Сколько в среднем стоят дома, у которых 2 спальни?
4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
4.3 Как много домов коснулся ремонт?
4.4 Насколько в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [52]:
df_bad = df[df['3'] == 2]
df_bad

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
88,7428000120,20141210T000000,176000.0,3,2.25,1540,5449,1.0,0,0,2,7,1180,360,1989,0,98023,47.2900,-122.358,1460,6740
224,9828701745,20150123T000000,480000.0,2,1.00,710,4800,1.0,0,0,2,6,710,0,1950,0,98112,47.6212,-122.298,1480,1721
463,2123049086,20140807T000000,210000.0,2,0.75,840,49658,1.0,0,0,2,6,840,0,1948,0,98168,47.4727,-122.292,1240,11000
482,6371500120,20141224T000000,325000.0,2,1.00,960,4800,1.5,0,0,2,6,960,0,1912,0,98116,47.5752,-122.411,1440,4800
783,3336000230,20150323T000000,230005.0,2,1.00,1030,6000,1.0,0,0,2,7,830,200,1951,0,98118,47.5291,-122.268,1770,5000
824,3624079067,20140508T000000,330000.0,2,2.00,1550,435600,1.5,0,0,2,7,1550,0,1972,0,98065,47.5145,-121.853,1600,217800
1009,5459500165,20140708T000000,623000.0,3,1.75,2050,16313,1.0,0,0,2,8,2050,0,1973,0,98040,47.5743,-122.212,3180,10264
1103,1670400090,20141124T000000,182000.0,3,1.00,1160,18055,1.0,0,0,2,5,1160,0,1950,0,98168,47.4772,-122.269,1340,10324
1216,1324079029,20150317T000000,200000.0,3,1.00,960,213008,1.0,0,0,2,6,960,0,1933,0,98024,47.5621,-121.862,1520,57499
1281,7883606725,20141111T000000,174900.0,3,1.00,1100,6000,1.5,0,0,2,6,1100,0,1926,0,98108,47.5279,-122.318,960,5880
1345,9485920120,20140829T000000,290000.0,4,2.50,2340,52272,2.0,0,0,2,8,2340,0,1978,0,98042,47.3468,-122.091,2480,40500
1430,2023059052,20150504T000000,450000.0,3,1.00,1350,92721,1.0,0,0,2,6,1200,150,1946,0,98055,47.4657,-122.198,1860,8096
1494,2023049361,20150323T000000,246500.0,2,1.00,940,6000,1.0,0,0,2,7,940,0,1954,0,98148,47.4631,-122.329,1890,8547
1603,7205400180,20141223T000000,235000.0,3,1.00,1240,18000,1.0,0,0,2,7,1240,0,1943,0,98198,47.3514,-122.315,1240,18000

In [54]:
df_bad['477500'].mean()

296600.35714285716

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [55]:
df_cost = df[df['477500'] > 600000.0]

In [56]:
df_cost.head(10)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000
5,5364200620,20140814T000000,980000.0,3,2.25,2390,4590,2.0,0,0,3,8,2090,300,1941,1998,98105,47.6615,-122.276,2280,5179
6,1939130120,20140718T000000,735000.0,4,2.50,3100,8529,2.0,0,0,3,9,3100,0,1990,0,98074,47.6252,-122.029,2710,8344
13,2896000450,20150323T000000,607000.0,4,2.50,2100,8220,1.0,0,0,4,8,1300,800,1975,0,98052,47.6733,-122.145,2160,8348
23,2771603990,20140715T000000,625000.0,3,2.00,1880,4000,1.0,0,2,3,8,1280,600,1950,0,98199,47.6375,-122.391,1920,4000
32,7701961220,20140626T000000,800000.0,4,2.50,2990,16809,2.0,0,0,3,11,2990,0,1990,0,98077,47.7123,-122.073,3340,18752
38,7015200900,20150410T000000,820000.0,4,2.50,2440,5737,2.0,0,0,4,8,1700,740,1929,0,98119,47.6472,-122.367,2020,5543
39,736100065,20150310T000000,1250000.0,4,2.25,3300,15375,1.5,0,3,3,8,2820,480,1933,1984,98040,47.5260,-122.225,3250,15375
51,1561600056,20141017T000000,1735000.0,4,3.50,4010,9654,2.0,0,0,3,10,4010,0,2007,0,98004,47.5891,-122.200,1870,9873
53,6392002550,20141022T000000,970000.0,3,2.25,3400,10000,2.0,0,0,3,10,3400,0,1983,0,98115,47.6846,-122.284,1860,5100

In [58]:
df_cost['1860'].mean()

3072.7714285714287

###4.3 Как много домов коснулся ремонт?

In [61]:
df_r = df[df['0'] ==1]

In [62]:
df_r.shape

(22, 21)

### 4.4 Насколько в среднем стоимость домов с оценкой grade выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [63]:
df_10 = df[df['7'] >10]
df_10

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
32,7701961220,20140626T000000,800000.0,4,2.50,2990,16809,2.0,0,0,3,11,2990,0,1990,0,98077,47.7123,-122.073,3340,18752
83,6648150040,20140513T000000,1680000.0,5,3.25,4860,23723,2.0,0,2,4,11,3820,1040,1989,0,98040,47.5767,-122.215,4040,13860
93,3303990410,20141111T000000,1096500.0,5,3.25,4010,12110,2.0,0,0,3,11,4010,0,2003,0,98059,47.5228,-122.151,4010,12334
128,8106100085,20140509T000000,1702500.0,5,4.50,5190,23716,2.0,0,2,3,11,3390,1800,1987,2000,98040,47.5846,-122.223,4460,22748
181,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,4,11,2460,1760,1958,1987,98008,47.6083,-122.110,3810,30401
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3514,324069112,20140617T000000,1325000.0,4,4.00,4420,16526,2.0,0,0,3,11,4420,0,2013,0,98075,47.5914,-122.027,3510,50447
3530,8835770330,20140819T000000,1057000.0,2,1.50,2370,184231,2.0,0,0,3,11,2370,0,2005,0,98045,47.4543,-121.778,3860,151081
3533,1561750040,20141224T000000,1375000.0,5,4.50,4350,13405,2.0,0,0,3,11,4350,0,2014,0,98074,47.6018,-122.060,3990,7208
3572,7430200100,20140514T000000,1222500.0,4,3.50,4910,9444,1.5,0,0,3,11,3110,1800,2007,0,98074,47.6502,-122.066,4560,11063
3582,249000205,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,0,3,11,4470,0,2008,0,98004,47.6321,-122.200,2780,8964

In [64]:
df_3 = df[df['7'] <4]
df_3

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
1434,3980300371,20140926T000000,142000.0,0,0.0,290,20875,1.0,0,0,1,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850

In [66]:
price2 = df_10['477500'].mean()

In [67]:
print(price2)

1777171.1862745099

In [74]:
price1 = df_3['477500']
print(price1)

1434    142000.0
Name: 477500, dtype: float64

In [75]:
x= price2-price1

In [76]:
print(x)

1434    1.635171e+06
Name: 477500, dtype: float64

## Задание 2.5

###5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [77]:
df_51 = df[(df['0'] == 1) & (df['3'] < 2) & (df['0.1'] > 0.0)]
df_51

Empty DataFrame
Columns: [7663700610, 20150310T000000, 477500, 4, 1.75, 1860, 9364, 1, 0, 0.1, 3, 7, 1080, 780, 1953, 0.2, 98125, 47.731, -122.301, 1800, 9364.1]
Index: []

###5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

не могу найти эти столбцы

###5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем

In [81]:
df_53 = df[(df['4'] == 2) & (df['477500'] < 150000.0) & (df['0.1'] == 0)]
df_53

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
450,7999600180,20140529T000000,83000.0,2,1.00,900,8580,1.0,0,0,3,5,900,0,1918,0,98168,47.4727,-122.270,2060,6533
490,623049232,20140715T000000,115000.0,2,0.75,550,7980,1.0,0,0,3,5,550,0,1952,0,98146,47.5110,-122.348,1330,7980
1036,3352400661,20141110T000000,135900.0,2,1.00,760,3800,1.0,0,0,3,6,760,0,1950,0,98178,47.5019,-122.269,1220,7410
1080,2114700615,20140708T000000,148000.0,2,1.00,630,4200,1.0,0,0,3,6,630,0,1930,0,98106,47.5329,-122.348,970,4200
1231,4337600205,20141112T000000,129888.0,2,1.00,710,9900,1.0,0,0,3,6,710,0,1943,0,98166,47.4790,-122.339,1070,9900
2944,1278000210,20150311T000000,110000.0,2,1.00,828,4524,1.0,0,0,3,6,828,0,1968,2007,98001,47.2655,-122.244,828,5402