## Задание 3.1

In [ ]:
1.1 Создать новый признак price_per_sq_lot, который будет содержать среднюю стоимость за один кв. метр общей площади

In [2]:
import pandas as pd

In [19]:
import numpy as np

In [33]:
df=pd.read_csv('kc_house_data.csv', header = 1)

In [31]:
#df=pd.read_csv('kc_house_data.csv', sep = ',') так динные выводятня еще хуже. На заголоки не влияет, а вот столбцы слипаются. 
#Пробовала смотреть файл в других редакторах - нет заголовокв

In [34]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456

In [25]:
pd.set_option('display.max_columns', None)

In [26]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456

In [27]:
df['price_per_sq_lot'] = 0

In [28]:
df.head(3)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,0
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,0
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,0

In [ ]:
#def med_cost(x):

In [36]:
df['price_per_sq_lot'] = df['477500']/df['1080']

In [37]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома. Если реновации дома не было, то в новом признаке поставьте 0

In [38]:
df['delta_renovated'] = 0

In [39]:
df['delta_renovated'] = df['1953']-df['1860']

In [40]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241,-552
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699,154

In [41]:
df.loc[(df.delta_renovated < 0), 'delta_renovated'] = 0

In [42]:
df.head(5)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393
3,1807900300,20141217T000000,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241,0
4,4310700778,20150210T000000,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699,154

###1.3 Создайте признаки года продажи, месяца продажи

In [43]:
df['год продажи'] = 0

In [44]:
df['месяц продажи'] = 0

In [45]:
df.head(3)

,7663700610,20150310T000000,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи
0,7520000330,20140813T000000,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307,0,0
1,1521049156,20141010T000000,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58,0,0
2,6648760150,20140728T000000,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393,0,0

###1.4 Удалите признаки date, zipcode, lat, long. Удалю только дате, остальные не могу найти

In [47]:
df = df.drop('20150310T000000', axis=1)

In [48]:
df.head(3)

,7663700610,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи
0,7520000330,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307,0,0
1,1521049156,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58,0,0
2,6648760150,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393,0,0

## ДЗ 2

Создайте датафрейм с клиентами:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,  280,   20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,  809001400,  339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580,  825069097, 3889100029, 9524100196]
})
house_id - это индексы датафрейма с домами

In [49]:
clients = pd.DataFrame({
    'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,  280,   20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
    'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300, 7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142, 6306800010, 5083000375, 7920100025, 1951600150,  809001400,  339600110, 1622049154, 1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066, 8146100580,  825069097, 3889100029, 9524100196]
})

In [50]:
clients.head(3)

   client_id    house_id
0       1459  8965450190
1       4684  6823100225
2       3498  5104540330

###2.1 Присоедините к таблице clients данные по домам через метод join

In [54]:
house_id = df.set_index('7663700610')
house_id.head()

,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи
7663700610,,,,,,,,,,,,,,,,,,,,,,,
7520000330,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307,0,0
1521049156,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58,0,0
6648760150,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393,0,0
1807900300,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241,0,0,0
4310700778,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699,154,0,0

In [63]:
house_id.join(clients.set_index('house_id'), on='7663700610')

,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи,client_id
7663700610,,,,,,,,,,,,,,,,,,,,,,,,
7520000330,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307,0,0,NaN
1521049156,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58,0,0,NaN
6648760150,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393,0,0,NaN
1807900300,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241,0,0,0,NaN
4310700778,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699,154,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,235.294118,479,0,0,NaN
6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,173.160173,0,0,0,NaN
1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,394.216667,989,0,0,NaN
291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,250.000000,404,0,0,NaN
1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,318.627451,988,0,0,NaN

### 2.2 Присоедините к таблице clients данные по домам через метод merge

In [68]:
df3 = pd.merge(house_id, clients, left_on='7663700610', right_on='house_id')

In [69]:
df3

,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи,client_id,house_id
0,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,98059,47.5189,-122.147,3940,14212,275.990099,0,0,0,3317,3303980210
1,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,98107,47.6696,-122.372,1520,1438,415.200000,0,0,0,4929,2768100205
2,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,98030,47.3519,-122.197,2574,14446,162.136701,0,0,0,20,6306800010
3,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,98198,47.3574,-122.318,2160,14496,229.850746,0,0,0,2295,5428000070
4,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,98103,47.6950,-122.343,690,1059,351.470588,1325,0,0,1474,9524100196

###3.1 Найдите среднюю стоимость домов в зависимости от количества спален
Отсортируйте от меньшей стоимости к большей

In [74]:
grouped = df.groupby('1.75').agg('477500')
grouped

In [71]:
grouped.head(3)

,7663700610,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,47.731,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи
0,7520000330,285000.0,3,2.50,1690,7460,1.0,0,0,3,7,870,820,1997,0,98146,47.4964,-122.353,1900,7302,327.586207,307,0,0
1,1521049156,255000.0,3,2.75,1900,16117,1.0,0,0,4,7,1900,0,1958,0,98001,47.3144,-122.278,1640,19166,134.210526,58,0,0
2,6648760150,315000.0,3,2.50,1600,7982,2.0,0,0,3,8,1600,0,1993,0,98001,47.3397,-122.266,1890,9830,196.875000,393,0,0
3,1807900300,830000.0,6,3.00,2530,9000,1.0,0,0,3,6,2530,0,1978,0,98033,47.6716,-122.199,1886,6000,328.063241,0,0,0
4,4310700778,539950.0,3,2.25,1860,1558,3.0,0,0,3,8,1860,0,2014,0,98103,47.7006,-122.339,1760,2456,290.295699,154,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2966,2149800278,343000.0,6,5.00,2732,7655,2.0,0,0,3,7,2732,0,2009,0,98002,47.3045,-122.211,3078,69993,125.549048,0,0,0
3032,2424059170,900000.0,5,6.00,7120,40806,2.0,0,4,3,12,5480,1640,2007,0,98006,47.5451,-122.114,3440,36859,164.233577,0,0,0
3047,1498301048,321950.0,2,1.25,860,1277,2.0,0,0,3,7,860,0,2007,0,98144,47.5842,-122.314,1280,1265,374.360465,1147,0,0
3326,8835770170,1488000.0,5,6.00,6880,279968,2.0,0,3,3,12,4070,2810,2007,0,98045,47.4624,-121.779,4690,256803,365.601966,0,0,0
3488,2524069097,2238890.0,5,6.50,7270,130017,2.0,0,0,3,12,6420,850,2010,0,98027,47.5371,-121.982,1800,44890,348.736760,0,0,0

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома. Буду  считать, что стостояние дома - столбец 47.731

In [77]:
grouped2 = df.groupby('47.731').agg({'477500':min})

In [78]:
grouped2.head(10)

           477500
47.731
47.1853  316000.0
47.1927  330000.0
47.1934  272000.0
47.1937  325000.0
47.1941  275000.0
47.1942  280000.0
47.1946  207200.0
47.1948  246950.0
47.1951  344000.0
47.1952  340000.0

In [85]:
grouped3 = df.groupby('47.731').mean('477500')

In [86]:
grouped3.head(10)

,7663700610,477500,4,1.75,1860,9364,1,0,0.1,3,7,1080,780,1953,0.2,98125,-122.301,1800,9364.1,price_per_sq_lot,delta_renovated,год продажи,месяц продажи
47.731,,,,,,,,,,,,,,,,,,,,,,,
47.1853,2.720069e+09,316000.0,3.0,1.750000,1120.0,98445.000000,1.50,0.0,2.0,4.0,7.0,1120.0,0.0,1917.0,0.0,98022.0,-122.017000,1620.0,34200.000000,282.142857,797.0,0.0,0.0
47.1927,3.797300e+09,330000.0,3.0,2.000000,2500.0,10697.000000,1.00,0.0,0.0,3.0,8.0,2500.0,0.0,1994.0,0.0,98022.0,-122.010000,2560.0,9772.000000,132.000000,0.0,0.0,0.0
47.1934,2.309710e+09,272000.0,4.0,2.000000,1870.0,6551.000000,1.00,0.0,3.0,3.0,7.0,1870.0,0.0,2009.0,0.0,98022.0,-121.977000,2280.0,5331.000000,145.454545,139.0,0.0,0.0
47.1937,2.309710e+09,325000.0,4.0,3.250000,2800.0,5291.000000,2.00,0.0,0.0,3.0,7.0,2800.0,0.0,2011.0,0.0,98022.0,-121.977000,2380.0,5291.000000,116.071429,0.0,0.0,0.0
47.1941,2.564890e+09,371500.0,3.5,2.625000,2110.0,91087.500000,1.25,0.0,1.5,4.0,7.5,2110.0,0.0,1968.5,0.0,98022.0,-122.008500,2010.0,59015.500000,173.377827,135.0,0.0,0.0
47.1942,2.309710e+09,280000.0,3.0,2.750000,1740.0,5639.000000,1.00,0.0,3.0,3.0,7.0,1740.0,0.0,2010.0,0.0,98022.0,-121.977000,2380.0,5331.000000,160.919540,270.0,0.0,0.0
47.1946,7.575500e+09,207200.0,4.0,2.000000,1260.0,8400.000000,1.00,0.0,0.0,3.0,6.0,1260.0,0.0,1991.0,0.0,98022.0,-122.000000,1120.0,8400.000000,164.444444,731.0,0.0,0.0
47.1948,8.141310e+09,251201.0,3.0,2.333333,1670.0,4439.666667,1.00,0.0,0.0,3.0,7.0,1670.0,0.0,2014.0,0.0,98022.0,-121.974667,1670.0,4600.666667,150.419760,344.0,0.0,0.0
47.1951,2.571910e+09,344000.0,4.0,2.500000,2100.0,8501.000000,2.00,0.0,0.0,5.0,7.0,2100.0,0.0,1993.0,0.0,98022.0,-122.010000,2130.0,8560.000000,163.809524,0.0,0.0,0.0
47.1952,8.141300e+09,340000.0,3.0,2.000000,1920.0,5688.000000,1.00,0.0,3.0,3.0,9.0,1920.0,0.0,2007.0,0.0,98022.0,-121.976000,2384.0,4802.000000,177.083333,87.0,0.0,0.0

### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [87]:
group4 = df.groupby(['0','0.1'], as_index=False)['7663700610'].value_counts()

In [88]:
group4.head(5)

   0  0.1  7663700610  count
0  0    0  3558900590      2
1  0    0  7853400250      2
2  0    0  8648900110      2
3  0    0  1901600090      2
4  0    0  7853420110      2